/**
 * Font
 */
 @import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

@import "tailwindcss";

@import "./typography.css";
@import "./color.css";

@theme {
  --font-sans: "Wanted Sans Variable", "Wanted Sans",
    -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;

  /**
   * Breakpoints
   * - 모바일: ~ 767px(default)
   * - 타블렛: 768px ~ 1023px
   * - PC: 1024px ~
   */
  --breakpoint-tablet: 768px;
  --breakpoint-pc: 1024px;
}

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-700);
}

body {
  /**
  TODO: yeeun
  (태리님께 PC, Tablet width 제한 여부 확인 필요)
  */
  width: 360px;
  margin: 0 auto;
  background: var(--background);
  color: var(--foreground);
  position: relative;
}
