/**
 * Font
 */
 @import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

@import "tailwindcss";

@import "./reset.css";
@import "./utilities.css";
@import "./typography.css";
@import "./color.css";
@import "./layout.css";
@import "./element.css";

@theme {
  --font-sans: "Wanted Sans Variable", "Wanted Sans",
    -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;

  /**
   * Breakpoints
   * - 모바일: ~ 767px(default)
   * - 타블렛: 768px ~ 1023px
   * - PC: 1024px ~
   */
  --breakpoint-tablet: 768px;
  --breakpoint-pc: 1024px;
}

body {
  /**
  TODO: yeeun
  (태리님께 PC, Tablet width 제한 여부 확인 필요)
  */
  background: var(--color-background);
  color: var(--color-foreground);
  /* 모바일 웹브라우저 최적화 (폰트 렌더링 개선, 세로 스크롤만 허용, 바운스 효과 제거)*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: pan-y;
  overscroll-behavior: none;
}


